{% extends "base.html.twig" %}

{%  block content %}
    <p><strong>{{ day.month_name }} {{ day.day }}, {{ day.year }}</strong></p>
    {% if meals %}

        <table>
            <tr>
                <td class="table-column-header"><span class="table-header-text">Meal</span></td>
                <td class="table-column-header"><span class="table-header-text">Carbs</span></td>
                <td>&nbsp;</td>
            </tr>

            {% for meal in meals %}
                <tr>
                    <td>{{ meal.period.name }}</td>
                    <td>{{ meal.carbs }}g</td>
                    <td><a href="{{ base_path }}/meal/{{ meal.id }}">View</a></td>
                </tr>
            {% endfor %}

        </table>

        <p><strong>Total carbs:</strong> {{ total_carbs }}g</p>

    {% else %}
        <p>No Meals found. <a href="{{ base_path }}/new/meal">New Meal</a></p>
    {% endif %}

{%  endblock %}